.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

.loginBox {
  background: #f3f3f3;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
  width: 380px;
  animation: fadeIn 1s ease-in-out;
}

.loginBox h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #1e3c72;
}

.loginBox p {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.input {
  width: 80%;
  padding: 12px 40px 12px 40px; /* espace pour l’icône */
  margin: 12px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.input:focus {
  border-color: #1e3c72;
  box-shadow: 0 0 8px rgba(42,82,152,0.3);
}

/* Conteneur pour icônes */
.inputGroup {
  position: relative;
  width: 100%;
}

.inputIcon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
}

.button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #1e3c72;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}


.error {
  color: #e74c3c;
  font-size: 13px;
  margin: 5px 0;
  text-align: center;
}

.textBottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.link {
  color: #2a5298;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  text-decoration: underline;
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
