.descriptionSection {
  padding: 60px 40px;
  background-color: #f7faff;
  font-family: sans-serif;
  text-align: center;
}

.intro h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #001dc0;
}

.intro p {
  color: #333;
  max-width: 600px;
  margin: 0 auto 40px;
}

.cardContainer {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 240px;
  gap: 16px;
  transition: 0.3s;
  width: 100%;
  max-width: 100%;
}

.cardItem {
  position: relative;
  overflow: hidden;
  flex: 0 0 80px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s ease;
  box-shadow: 4px 8px 16px rgba(0,0,0,0.3);
}

.cardItem img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.cardItem .content {
  position: absolute;
  inset: 0;
  z-index: 1;
  padding: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 10%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.cardItem .content span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  translate: -50%;
  text-align: center;
  scale: 0.85;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  color: #fff;
}

.cardItem h2 {
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: 600;
  border: none !important; 
  background-color: #000b6d;
  color: #fff;
}

.cardItem p {
  font-size: 14px;
  margin-bottom: 6px;
  background-color: transparent;
  color: #eee;
}

.cardItem blockquote {
  font-style: italic;
  font-size: 12px;
  margin: 4px 0;
}

.cardItem cite {
  font-size: 12px;
  font-weight: bold;
  color: #eee;
}

.cardContainer:hover {
  gap: 0;
  height: 400px;
}

.cardItem:hover {
  flex: 0 1 260px;
  scale: 1.05;
  z-index: 2;
}

.cardItem:hover .content {
  opacity: 1;
  visibility: visible;
}

.cardItem:hover .content span {
  scale: 1;
  opacity: 1;
  visibility: visible;
}
